<h1>プロフィールを編集</h1>

<div class="row">
  <div class= "col-md-6 col-md-offset-4">

        <%= form_for(@user, :url => { :action => "update" }) do |f| %>

          <div class="form-group row">
            <%= f.label :name, "フルネーム", class: 'col-sm-2 col-form-label col-form-label-lg' %>
            <div class="col-sm-10">
              <%= f.text_field :name, class: 'form-control form-control-lg' %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :username, "ユーザーネーム", class: 'col-sm-2 col-form-label col-form-label-lg' %>
            <div class="col-sm-10">
              <%= f.text_field :username, class: 'form-control form-control-lg' %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :link, "ウェブサイト", class: 'col-sm-2 col-form-label col-form-label-lg' %>
          <div class="col-sm-10">
            <%= f.url_field :link, class: 'form-control form-control-lg' %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :profile, "自己紹介", class: 'col-sm-2 col-form-label col-form-label-lg' %>
            <div class="col-sm-10">
              <%= f.text_area :profile, class: 'form-control form-control-lg' %>
            </div>
          </div>

          <br /><p>非公開情報</p><br />

          <div class="form-group row">
            <%= f.label :email, "メールアドレス", class: 'col-sm-2 col-form-label col-form-label-lg' %>
            <div class="col-sm-10">
              <%= f.email_field :email, class: 'form-control form-control-lg' %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :phone, "電話番号", class: 'col-sm-2 col-form-label col-form-label-lg' %>
            <div class="col-sm-10">
              <%= f.text_field :phone, class: 'form-control form-control-lg' %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :sex, "性別", class: 'col-sm-2 control-label form-control-lg' %>
            <div class="col-sm-10">
              <%= f.select :sex, [["男", 1], ["女", 2], ["指定なし", 3]], class: 'col-sm-2 col-form-label col-form-label-lg' %>
            </div>
          </div>

          <div class="form-group update">
            <div class="col-sm-20">
            <%= f.submit "送信する", class: "btn btn-primary" %>
            </div>
          </div>

        <% end %>
  </div>
</div>

      <div class="form-group col-md-6 col-md-offset-5">
        <%= button_to "アカウント削除", user_path, data: { confirm: "本当に削除しますか？ " }, method: :delete %>
        <br />
        <%= link_to('パスワードを変更', password_change_path ) %>
      </div>
